@media (max-width: 768px) {
  .header-list {
    display: none;
  }

  .nav_toggle {
    display: block;
    position: relative;
    width: 2.25rem;
    height: 1.75rem;
    z-index: 11000;
    margin-right: 20px;
  }

  .nav_toggle i {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #333;
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }

  .nav_toggle i:nth-child(1) {
    top: 0;
  }

  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }

  .nav_toggle.show i:nth-child(1) {
    transform: translateY(10.8px) rotate(-45deg);
  }

  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }

  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-14px) rotate(45deg);
  }

  .nav {
    position: fixed;
    top: 4.4rem;
    left: 0;
    padding: 1rem;
    opacity: 0;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.5);
  }

  .nav a {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

  .nav_menu_ul {
    width: 100%;
    list-style: none;
  }

  .nav li {
    padding: 20px 0;
    opacity: 0.6;
  }

  .nav li:hover {
    opacity: 1;
    transition: 0.5s;
  }

  .nav.show {
    width: 100%;
    display: inline-block;
    z-index: 10000;
    background-color: white;
    opacity: 1;
  }

  .body {
    width: 100%;
  }

  .header {
    width: 100%;
    height: 70px;
  }
  .header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-ttl h1 {
    padding-left: 40px;
    font-size: 32px;
  }

  .swiper-container {
    padding-top: 70px;
  }

  .swiper-wrapper {
    width: 100%;
    height: auto;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
  }

  .about {
    background-size: 450%;
  }
  .about-ttl h2 {
    margin-top: 100px;
    font-size: 28px;
  }
  .about-inner {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-box {
    width: 100%;
  }
  .about-texts {
    padding: 15px 20px 20px 20px;
  }
  .about-texts h4 {
    font-size: 16px;
  }
  .about-texts p {
    font-size: 14px;
    line-height: 1.6;
  }

  .pay {
    margin-top: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .pay-ttl {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  .pay-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .pay-box {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
  }
  .pay-box img {
    width: 60px;
  }
  .pay-texts {
    padding-left: 10px;
  }
  .pay-texts h4 {
    font-size: 15px;
  }
  .pay-texts p {
    font-size: 13px;
  }

  .info {
    width: 100%;
  }
  .info-inner {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .info-ttl {
    display: block;
    text-align: center;
  }
  .info-ttl h2 {
    font-size: 28px;
    border-right: 0px;
    padding-right: 0px;
  }
  .info-ttl span {
    font-size: 16px;
    font-weight: bold;
    padding-left: 0px;
  }
  .info-box p {
    font-size: 13px;
    line-height: 1.6;
  }

  .blue {
    font-size: 8px;
    border: solid 1px #0084e9;
    color: #0084e9;
  }

  .red {
    font-size: 8px;
    border: solid 1px #fc3131;
    color: #fc3131;
  }

  .footer {
    width: 100%;
  }
  .footer-inner {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
  }
  .footer-list {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
  }
  .footer-list ul {
    padding-left: 0px;
  }
  .footer-list a {
    font-size: 14px;
  }
  .footer-ttl {
    padding-bottom: 40px;
  }
  .footer-ttl h2 {
    font-size: 32px;
  }
  .footer-ttl img {
    width: 50px;
  }
}

/*# sourceMappingURL=style-sp.css.map */
